*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}
header img{
    width: 380px;
}
main{
    display: flex;
    justify-content: center;
}
main .leftside{
    display: flex;
    align-items: flex-start;
}
main .leftside .left-image{
    flex: 1 1 300px
}
main .leftside .left-image img{
width: 100%;
height: auto;
object-fit: cover;
}
main.rightside{
    display: flex;
    flex-direction: column;
}