body{
   width:100% ; 
   height:  100%; 
}
:root{
    --color1: #ebe5e5;
    --color2:#714681;
    --color3:white;
  }
body .login{

 display: flex;
 flex-direction: row;
 height: 60vh;
 width: 67vw;
 border: 7px solid rgb(73, 42, 102);
 flex-wrap: wrap;
position: relative;
border-radius: 3px;



}
.login div.left{
    display: flex;
    flex: 1 0;
 background-color: var(--color1);
padding: 20px;
flex-direction: column;
position: absolute;
justify-content: space-around;
align-items: center;
position: relative;
flex-wrap: wrap;

}


.login div.left button{
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  color: var(--color3);
  border-radius: 6px;
  padding: 7px 40px;
  border: none;
  margin: 0;
}
.login div.left span a{
    color: black;
    text-decoration: none;
}
.login div.left input{
    background: none;
border: 0;
    appearance: none;
    border-bottom: 1px solid black;
}

.login div.left span{
    position: absolute;
    left: 10px;
    top:7px;
}
.login div.left h2{
    padding: -5px;
    text-align: center;
}
.login div.right{
    display: flex;
    flex: 2 0;
    flex-direction: column;
    background-image: url(../img/image\ \(14\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color3);
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
}

.login div.right h2{
    padding: 0;
    margin: -12px;
}