body{
    padding: 0;
    margin: 0;
font-family: 'Roboto', sans-serif;
}
section.banner{
    height: 100vh;
    background-image: url(../img/Marketing_LandingFeatured_Redesign_Mobile.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
position: relative;
}
@media screen and (min-width:960px ){
    section.banner{
        background-image: url(../img/Marketing_LandingFeatured_Redesign.webp);
    }
}
.banner .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}
.banner .navbar .logo{
width: 200px;
height: auto;
display: none;
}
@media screen and (min-width: 1280px){
    .banner .navbar .logo{
        display: inline;
    }
}
.banner .navbar .logomobile{
width: 130px;
height: auto;
position: relative;
z-index: 100;

}
@media screen and (min-width: 1280px){
    .banner .navbar .logomobile{
        display: none;
    }
}


.banner .navbar .first-nav{
    display: none;
}
@media screen and (min-width: 1280px){
    .banner .navbar .first-nav{
        display: block;
    }
}
.banner .navbar .sec-nav li:nth-child(1),
.banner .navbar .sec-nav li:nth-child(2){
    display: none;
}
@media screen and (min-width: 1280px){
    .banner .navbar .sec-nav li:nth-child(1),
    .banner .navbar .sec-nav li:nth-child(2){
        display: block;
    }
}
.banner .navbar ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    align-self: center;
}
.banner .navbar ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    font-weight:700 ;
}
.banner .navbar .sec-nav li:last-child a{
    font-size: 1.6rem;

}
.banner .navbar .logos{
    text-align: center;
    flex: 1;
}
@media screen and (min-width: 1280px){
    .banner .navbar .logos{
        text-align: left;
        flex: 0;
    }
}
nav.side-menu{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    z-index: 99;
}
@media screen and (min-width:600px){
    nav.side-menu{
        left: auto;
        width: 200px;
    }
}
nav.side-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    line-height: 50px;


}
nav.side-menu > label{
    font-size: 1.5rem ;
}
nav.side-menu ul.menu1 i{
    font-size: 1.3;
    margin-left: 0.5rem;
    margin-left: 0.5rem;
}
nav.side-menu ul a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    display: block;
}
.chk-menu{
    display: none;
}
.chk-menu:checked + nav.side-menu{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.banner::before{
    content: "";

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}
.chk-menu:checked ~ .banner::before{
    content:"" ;
    background-color: white;
    position: absolute;
    top: 0; right: 0; left: 0;bottom: 0;
    opacity: 0.3; 
    z-index: 1;
}
label[for="chkmenu"]{
    cursor: pointer;
}
.banner .content{
    color: white;
    text-align: center;
}
.banner .content h1{
    font-size: 2.5rem;
    margin: 0;
}
.banner .order-form{
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.banner .order-form{
    display: flex;
    flex-direction: row;

}
.banner .order-form input[type="text"]{
    background-color: rgba(255, 255, 255, 0.151);
    padding: 13px 120px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid white;
    font-size: 0.7rem;
    font-weight: 700;
    color: red;
}
.banner .order-form  button.btn{
    padding: 13px 60px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 5px;
    font-size: 0.7rem;
    font-weight: 700;
   

}